node_modules/
server/node_modules/
client/node_modules/

dist/
server/dist/
client/dist/

.vite/
*.log
.env
.DS_Store

server/src/data/learner/learnerState.json
server/src/data/learner/attemptHistory.json